//colors
$bg-color: #000000;
$red-main-color: #f85656;
$gray-color: #c4c4c4;
$white-color: #ffffff;
$mbile-nav-bg: #1b1a1a;

//RWD
$mobile: 320px;
$tablet: 481px;
$desktop: 769px;
$high-desktop: 2000px;
